.base-pipes-php-sdk:
  variables:
    DIR: pipes-php-sdk

  rules:
    - if: '$FORCE_PIPELINE =~ /ALL/ || $FORCE_PIPELINE =~ /pipes-php-sdk/'
    - if: '$CI_COMMIT_BEFORE_SHA == $_BANNED_RUN_ALL_SHA'
      when: never
    - if: '"$CI_COMMIT_REF_NAME" != "master" && "$CI_COMMIT_REF_NAME" != "dev" && "$CI_COMMIT_REF_NAME" != "new-ui"'
      when: never
    - changes:
      - ${DIR}/**/*


pipes-php-sdk:git-mirror:
  needs: []

  variables:
    MIRROR_REPOSITORY_NAME: pipes-php-sdk
    MIRROR_TRIGGER_REPO_VAR: hanaboso-pipes-php-sdk

  extends:
    - .base-git-mirror
    - .base-pipes-php-sdk
